body {
    margin: 0;
    background-color: #1C1C1E;
    color: #fff;
}
.el-calendar{
    background-color: #1C1C1E;
}
.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover{
    background-color: #1a2635;
}